html
  head
    title='Wir sind im Container'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hallo TBZ-Lernende
        br
        p Dieser Container wurde mit dem Image:
        br
        h1 TWO
        br
        p erzeugt
